<form>
  <div class="input-group">
    <p>
      <label for="initial-investement">Initial Investment</label>
      <input id="initial-investement" type="number"/>
    </p>
    <p>
      <label for="annual-investement">Annual Investment</label>
      <input id="annual-investement" type="number"/>
    </p>
  </div>
  <div class="input-group">
    <p>
      <label for="expected-return">Expected Return</label>
      <input id="expected-return" type="number"/>
    </p>
    <p>
      <label for="duration">Duration</label>
      <input id="duration" type="number"/>
    </p>
  </div>
  <p>
    <button>
      Calculate
    </button>
  </p>
</form>
